.DS_Store
.config/tmux/layouts/foxy-workspace-layout
.config/tmux/.private.keybinds.conf
.config/shared/tmux/.private.keybinds.conf
.config/shared/tmux/private.keybinds.conf
.config/shared/tmux/plugins/
.config/tmuxifier/foxy-*
.config/shared/tmuxifier/foxy-*
.config/macos/files/
.config/files/
.config/nvim/lua/work-settings.lua
.config/nvim/lua/core/work-keymap.lua
.config/shared/nvim/lua/work-settings.lua
.config/shared/nvim/lua/core/work-keymap.lua
.config/shared/espanso/match/private.yml
